@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.boost-scholarship-header{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
}

.boost-scholarship-header-row1{
    display: flex;
}

.boost-scholarship-header-row2{
    display: flex;
    justify-content: space-between;
}

.boost-scholarship-header-row3{
    display: flex;
}

.scholarship-apply-button{
    background-color: #E6A522;
    border: 1px solid #E6A522;
    border-radius: 20px;
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;

}

.disabled-scholarship-apply-button{
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
}

.check-scholarship-button{
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    text-align: center;
    height: 30px;
    width: 150px;
}