/* CSS File for 'BoostScholarship' File found in 'pages' Folder */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.boost-scholarship-header{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
}

.boost-scholarship-title{
    font-weight: 700;
    font-size: 40px;
    margin: 0px;
}

.boost-scholarship-title-subheader{
    font-size: 27px;
    font-weight: 500;
    color: rgba(0, 126, 195, 1);
    margin: 10px 0px;
}

.boost-image{
    height: fit-content;
    margin-right: 15px;
}

.boost-scholarship-header-row1{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.boost-scholarship-header-row2{
    display: flex;
    justify-content: space-between;
}

.boost-scholarship-header-row2-col1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boost-scholarship-header-row3{
    display: flex;
    margin:0px 0px 30px;
}

.scholarship-apply-button{
    background-color: #E6A522;
    border: 2px solid #E6A522;
    color: white;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 18px;
}

.disabled-scholarship-apply-button{
    border: 2px solid #cccccc;
    background-color: #cccccc;
    color: white;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 18px;
}

.check-boost-scholarship-button{
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 18px;
}

li{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

ul{
    padding: 0px;
}

.boost-scholarship-header-row1-col2{
    display: flex;
    flex-direction: column;
}

.newsletter{
    margin: 0px 0px 30px;
    color: #A6A6A6;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
}

@media(max-width: 1100px){
    .boost-scholarship-title {
        font-size: 35px;
    }

    .newsletter{
        font-size: 17px;
    }

    .boost-scholarship-header{
        margin: 0px 100px;
    }

    .boost-scholarship-title-subheader {
        font-size: 22px;
    }
}

@media(max-width: 1000px){
    li {
        font-size: 17px;
        line-height: 25px;
    }
}

@media(max-width: 900px){
    .boost-scholarship-header{

        margin: 0px 75px;
    }
}

@media (max-width: 768px) { 
    .boost-scholarship-header-row2 {
        flex-direction: column-reverse;
    }

    .boost-scholarship-header{

        margin: 0px 20px;
    }

    .boost-scholarship-title {
        font-size: 20px;
    }

    .newsletter{
        font-size: 15px;
    }

    .boost-scholarship-title-subheader {
        font-size: 19px;
    }

    li {
        font-size: 15px;
        line-height: 23px;
    }

    .scholarship-apply-button {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .check-boost-scholarship-button {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .disabled-scholarship-apply-button{
        font-size: 16px;
        margin-bottom: 10px;
    }
}