.chat-head-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    padding: 1vh;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .user-profile-pic-text {
    font-size: 3.5vh;
    text-transform: capitalize;
  }
  
  .chat-head-item:hover {
    background-color: rgb(112, 110, 110, 0.2);
  }
  
  .user-profile-pic-container {
    width: 4vh;
    height: 4vh;
    background-color: #ccc;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    padding: 0.5vh;
  }
  
  .conversations-header {
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1vh;
  }
  
  .chat-heads-search {
    width: 80%;
    margin-bottom: 2vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
  }

  .chat-heads-search:focus {
    border: 3px solid black;
  }
  
  .conv-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .conv-header-container svg {
    margin-left: 0.5vh;
    color: white;
    background-color: rgb(112, 110, 110, 0.2);
    padding: 0.8vh;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .chat-heads-container {
    overflow-y: scroll;
    height: 65vh;
    padding-right: 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }