.contact-us {
    background-color: #f3f3f3;
    overflow: overlay;
    display: flex;
    padding: 0px 150px;
}

@media (max-width: 768px) { 
    .contact-us {
        padding: 0px 20px;
    }

}
    