/* CSS File for 'DonationInfo' File found in 'components' Folder */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.donation-info{
    color: white;
}

.donation-info-title{
    font-weight: 700;
    font-size: 40px;
}

.donation-info-text{
    font-weight: 400;
    font-size: 27px;
}

.donation-info-content{
    margin: 0px 150px;
}

.donation-info-button{
    font-weight: 500;
    font-size: 18px;
    border: solid 2px white;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1000px){
    .donation-info-content {
        margin: 0px 100px;
    }

    .donation-info-text {
        font-size: 23px;
    }

    .donation-info-title{
        font-size: 30px;
    }
    .donation-info{
        height: auto;
    }

    .donation-info-button{
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) { 
    .donation-info-text {
        font-size: 17px;
    }

    .donation-info-title{
        font-size: 22px;
    }
    
    .donation-info-button{
        font-size: 13px;
    }

    .donation-info-content {
        margin: 0px 20px;
    }
}