@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.eligibilty-criteria{
    display: flex;
    color: white;
    background-color: #007EC8;
    padding: 0px 150px;

}

.eligibility-list{
    margin: 0px;
}