/* CSS File for 'FaqsTag' File found in 'components' Folder */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.faqs-tag{
    margin: 0px 150px;
}

.faqs-tag-header{
    display: flex;
    align-items: center;
}

.faqs-tag-button{
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 18px;
    width: fit-content;
    margin-bottom: 30px;
}

.faqs-header{
    font-size: 22px;
    font-weight: 400;
}

.faq-email-link{
    font-size: 22px;
    font-weight: 400;
    color: rgba(17, 208, 209, 1);
}

@media(max-width: 1100px){  
    .faqs-header {
        font-size: 20px;
    }

    .faq-email-link {
        font-size: 20px;

    }

    .faqs-tag{
        margin: 0px 100px;
    }
}

@media(max-width: 950px){  
    .faqs-header {
        font-size: 18px;
    }

    .faq-email-link {
        font-size: 18px;

    }
}

@media(max-width: 900px){  
    .faqs-tag{
        margin: 0px 75px;
    }

    .faqs-tag-button {
        font-size: 15px;
    }

    .faqs-header {
        font-size: 15px;
    }

    .faq-email-link {
        font-size: 15px;

    }
}

@media (max-width: 768px) { 
    .faqs-tag {
        margin: 0px 20px;
    }

    .faqs-tag-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .faqs-tag-button {
        margin-top: 15px;
    }

    .faqs-header {
        font-size: 17px;
    }

    .faq-email-link {
        font-size: 17px;
    }

    .faqs-tag-button {
        margin-top: 17px;
    }
}