.footer{
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top:auto; 
}