@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.navbar {
    right: 0;
    left: 0;
    top:0;
    padding: 25px 100px;
    display: flex;
    align-items: center; 
    position: static;

}

.menu-navbar{
    display: none;
}

.home-navbar{
    position: absolute;
}

.kaffi-logo {
    background-image: url("../assets/images/kaffi-logo1.png");
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.home-kaffi-logo{
    background-image: url("../assets/images/kaffi-logo.png");

}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.about-kaffi {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.home-about-kaffi{
    color: white;
}

.menu-logo {
    background-image: url("../assets/images/menu1.png");
    width: 35px;
    height: 27px;
    margin-left: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.home-menu-logo{
    background-image: url("../assets/images/menu.png");
}

.navbar-button {
    border-radius: 20px;
    color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid black;
}

.home-navbar-button{
    color: white;
    border: white;
}