@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.navbar {
    right: 0;
    left: 0;
    top:0;
    padding: 0px 150px;
    height: 113px;
    display: flex;
    align-items: center; 
    position: static;
    box-shadow: 0px 0px 8px 2px #bfbfbf
}

.menu-navbar{
    display: none;
}

.home-navbar{
    position: absolute;
    box-shadow: none;
}

.kaffi-logo {
    background-image: url("../assets/images/kaffi-logo1.png");
    width: 145px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.home-kaffi-logo{
    background-image: url("../assets/images/kaffi-logo.png");

}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.about-kaffi {
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;

}

.home-about-kaffi{
    color: white;
}

.menu-logo {
    background-image: url("../assets/images/menu1.png");
    width: 45px;
    height: 30px;
    margin-left: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.home-menu-logo{
    background-image: url("../assets/images/menu.png");
    
}

.navbar-button {
    border-radius: 25px;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.home-navbar-button{
    color: white;
    border: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;

}

@media (max-width: 768px) { 
    .navbar {
        height: 110px;
        padding: 0px 30px;
    }

    .about-kaffi {
        display: none;
    }
    
    .navbar-button {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        
    }

    .menu-logo {
        width: 35px;
        height: 30px;
    }

    .kaffi-logo {
        width: 120px;
        height: 30px;
    }

}

@media (max-width: 340px) { 
    
    .navbar-button {
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 400;
        
    }

    .menu-logo {
        width: 30px;
        height: 25px;
    }

    .kaffi-logo {
        width: 100px;
        height: 25px;
    }

}