@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.helpful-tips{
    margin: 0px 150px;
}

.helpful-tips-text{
    display: flex;
    align-items: center;
}

.helpful-tips-title{
    font-size: 40px;
    font-weight: 700;
}

.helpful-tips-title-subheader{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin:0px 0px 25px;
}

.helpful-tips-list{
    font-size: 27px;
    font-weight: 500;
}

.helpful-tips-title-image{
    display: flex;
    height: fit-content;
}

ul{
    margin-left: 20px;
}

li{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}