@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.home {
    background-image: url("../assets/images/bk.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-buttons{
    display: flex;
    align-self: space-around;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 120px;
    width: 65vw;

}

.home-text{
    text-align: center;
    color: white;
    margin: 300px 0px 0px;
}

.home-title1{
    margin: 10px 0px;
   font-weight: 500;
   font-size: 40px;
}

.home-title2{
    margin: 10px 0px 30px 0px;
    font-weight: 400;
    font-size: 27px;
}

.home-tags{
    display: flex;
    width: 100vw;
    height: 190px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;

}

.home-tag1{
    background-color: #E6A522;
    width: 33vw;
    opacity: 0.9;

}


.home-tag2{
    background-color: #1B089F;
    width: 34vw;
    opacity: 0.9;

}

.home-tag3{
    background-color: #11D0D1;
    width: 33vw;
    opacity: 0.9;

}

.home-button1{
    background-color: #E6A522;
    opacity: 0.9;
    border: 1px solid #E6A522;
    border-radius: 25px;
    color: white;
    text-align: center;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-button2{
    background-color: #1B089F;
    opacity: 0.9;
    border: 1px solid #1B089F;
    border-radius: 25px;
    color: white;
    text-align: center;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button3{
    background-color: #11D0D1;
    opacity: 0.9;
    border: 1px solid #11D0D1;
    border-radius: 25px;
    color: white;
    text-align: center;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}