.menu{
    display: flex;
    flex-direction: column;
    background-color: #007EC3;
    height: 100vh;
    width: 100vw;
}

.menu-header{
    display: flex;
    margin: 0px 100px;
}

.menu-option{
    color:white;
    width: 20vw;
}

.close-button{
    position: absolute;
    right: 40px;
}

.menu-button{
    margin: 40px 100px;
}