@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.menu{
    display: flex;
    flex-direction: column;
    background-color: #007FE7;
    height: 100vh;
    width: 100vw;
}

.menu-header{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.menu-option{
    color:rgba(255, 255, 255, 0.639);
    cursor: pointer;
}

.menu-option:not(:last-child) {
    margin-right: 10px;
}

.menu-option-title{
    border-bottom: solid 1px white;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 23px;
    height: 50px;

}

.foundation-links, .apply-links, .volunteer-links, .donate-links, .academic-links {
    display: none;
}

.foundation-menu:hover > .foundation-links, .apply-menu:hover > .apply-links, 
.volunteer-menu:hover > .volunteer-links, .donate-menu:hover > .donate-links, .academic-menu:hover > .academic-links {
    display: block;
}

.menu-option:hover{
    color: white;
}

.menu-option:focus{
    color:white;
}

.close-button{
    position: absolute;
    right: 40px;
    color: white;
}

.menu-button{
    margin: 40px 100px;
}

.menu-element{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 768px) { 
    .menu-header{
        flex-wrap: wrap;
        margin: 0px 20px;
    }

    .menu-option {
        width: 45%;
    }

    .foundation-links, .apply-links, .volunteer-links, .donate-links, .academic-links {
        display: block;
    }

    .menu {
        height: 100%;
    }
 }