/* CSS File for 'ScholarshipTag' File found in 'components' Folder */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.scholarship-tag{
    height: 227px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 0.5px #bfbfbf;
    text-align: center;
    margin: 0px 150px 50px;
}

.scholarship-tag-row1{
    color: white;
    justify-content: center;
    background-color: #007EC3;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.scholarship-tag-row2{
    display: flex;
    justify-content: space-evenly;
}

.cycle-name{
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.cycle-details1{
    font-weight: 700;
    font-size: 16px;
}

.cycle-details2{
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
}

.col{
    display: flex;
    flex-direction: column;
}

@media(max-width: 1100px){
    .scholarship-tag {
        margin: 0px 100px 50px;
        height: 190px;
    }

    .cycle-details1 {
        font-size: 13px;
    }

    .cycle-details2 {
        font-size: 13px;
    }
}

@media(max-width: 900px){
    .scholarship-tag {
        margin: 0px 75px 50px;
    }
}

@media (max-width: 768px) { 
    .scholarship-tag {
        margin: 0px 20px 50px;
        height: auto;
    }

    .scholarship-tag-row2{
        flex-direction: column;
    
    }

    .cycle-details2 {
        font-size: 17px;
        margin: 10px;
    }

    .cycle-details1 {
        font-size: 19px;
        margin: 10px;
    }
}