@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.scholarship-tag{
    height: 227px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    text-align: center;
    margin: 0px 150px;

}

.scholarship-tag-row1{
    color: white;
    justify-content: center;
    background-color: #007EC3;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.scholarship-tag-row2{
    display: flex;
    justify-content: space-evenly;

}
