@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.ranking-system-row2{
    display: flex;
}

.ranking-system-row3{
    display: flex;
    margin-bottom: 10px;
}

.ranking-system-text{
    padding-left: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-self: center;
}

.ranking-process{
    background-color: rgba(0, 126, 195, 0.05);
    width: 100vw;
    font-weight: 400;
    font-size: 20px;
}

.ranking-process-title{
    margin: 10px 0px 30px;
}

.ranking-process-text{
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

.scholarship-page-header{
    margin: 0px 150px

}

.ranking-system{
    margin: 0px 150px

}

.ranking-process-description{
    margin: 0px 150px;
    padding: 10px 0px 30px
}

.steps-apply-row2{
    display: flex;
    margin: 0px 150px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.steps-apply-row1{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;

}

.steps-to-apply1{
    padding: 20px 20px 20px 0px;
    text-align: center;
    width: 50%;

}

.steps-to-apply2{
    padding: 20px 20px 20px 0px;
    text-align: center;
    width: 50%;

}

.steps-to-apply3{
    padding: 20px 20px 20px 0px;
    text-align: center;
    width: 50%;

}

.steps-to-apply4{
    padding: 20px 0px;
    text-align: center;
    width: 50%;

}

.steps-apply-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

}

.faq-button-scholarships{
    border-radius: 25px;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid #000000;
    margin: 30px 150px 50px;

}

.scholarship-title{
    font-weight: 700;
    font-size: 40px;
    margin: 40px 0px 20px;
}

.scholarship-title-subheader{
    font-weight: 400;
    font-size: 27px;
    margin: 0px 0px 30px;
    line-height: 40px;

}

.steps-to-apply-row1{
    display: flex;
    width: 50%;

}

.steps-to-apply-row2{
    display: flex;
    width: 50%;

}

@media (max-width: 1350px) {
    .steps-to-apply-row1 {
        width: auto;
        justify-content: space-evenly;
    }

    .steps-to-apply-row2 {
        width: auto;
        justify-content: space-evenly;
    }

    .steps-apply-row2 {
        display: block;
    }

    .steps-to-apply1 {
        padding: 0px;
        width: 25%;
    }

    .steps-to-apply2 {
        padding: 0px;
        width: 25%;
    }

    .steps-to-apply3 {
        padding: 0px;
        width: 25%;
    }

    .steps-to-apply4 {
        padding: 0px;
        width: 25%;
    }
}


@media (max-width: 1000px) {
    .steps-to-apply-row1 {
        justify-content: space-between;
    }

    .steps-to-apply-row2 {
        justify-content: space-between;
    }

    .steps-apply-row2 {
        display: block;
    }

    .steps-to-apply1 {
        padding: 0px;
        width: 50%;
    }

    .steps-to-apply2 {
        padding: 0px;
        width: 50%;
    }

    .steps-to-apply3 {
        padding: 0px;
        width: 50%;
    }

    .steps-to-apply4 {
        padding: 0px;
        width: 50%;
    }

    .scholarship-page-header {
        margin: 0px 100px;
    }

    .ranking-system {
        margin: 0px 100px;
    }

    .ranking-process-description {
        margin: 0px 100px;
    }

    .steps-apply-row1 {
        margin: 0px 100px;
    }

}

@media (max-width: 768px) { 
    .scholarship-page-header {
        margin: 0px 20px;
    }

    .scholarship-title {
        font-weight: 700;
        font-size: 30px;
        margin: 40px 0px 20px;
    }

    .scholarship-title-subheader {
        font-weight: 400;
        font-size: 20px;
        margin: 0px 0px 30px;
        line-height: 40px;
    }

    .ranking-system-text {
        padding: 0px;        
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        align-self: center;
    }

    .ranking-process {
        font-weight: 500;
        font-size: 21px;
    }

    .ranking-process-title {
        margin: 10px 0px 30px;
    }

    .ranking-process-text {
        margin: 5px;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .steps-apply-row1 {
        flex-direction: column;
        width: auto;
        margin: 0px 20px;
    }

    .ranking-system {
        margin: 0px 20px;
    }

    .ranking-process-description {
        margin: 0px 20px;
        padding: 10px 0px 30px;
    }

    .steps-apply-row2 {
        flex-direction: column;
        width: auto;
        margin: 0px 20px;
    }

    .steps-to-apply-row1 {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .steps-to-apply-row2 {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .steps-to-apply1{
        padding: 0px;
        width: 100%;

    }

    .steps-to-apply2{
        padding: 0px;
        width: 100%;

    }

    .steps-to-apply3{
        padding: 0px;
        width: 100%;

    }

    .steps-to-apply4{
        padding: 0px;
        width: 100%;

    }

    .ranking-system-image{
        display: none;
    }
    
    .steps-apply-text{
        margin: 10px 75px;

    }
}