@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 

.scholarships-tag{
    height: 200px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0.5px #bfbfbf;
    margin: 20px 150px;

}

.scholarships-tag-col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-right: 1px solid #A6A6A6;
    padding: 50px;
    margin: 30px 0px;
    font-weight: 500;
    font-size: 20px;
}

.scholarships-tag-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 30px;
}

.scholarships-tag-row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #007EC3;

}

.scholarships-tag-row2{
    font-size: 18px;
    font-weight: 400;

}

.scholarships-tag-row1{
    font-size: 18px;
    font-weight: 400;
    color: #007EC3;

}

.scholarships-details-button{
    border-radius: 25px;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #000000;

}

.date-text{
    margin: 5px 0px;
}