@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

.success-story-container{
    border-radius: 13px;
    padding: 20px 20px;
    box-shadow: 0px 0px 8px 0.5px #bfbfbf;
    display: flex;
    align-items: center;
    width: 45%;
    align-self: center;
    margin: 10px 0px;
}

.success-story-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success-story{
    position: relative;
    height: 50%;
    display: flex;
    margin: 0px 50px;
}

.success-story-message{
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 126, 195, 1);
    margin: 0px;
}

.success-story-user{
    font-weight: 300;
    font-size: 14px;
}

.success-story-image{
    margin-right: 25px;
}